@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;600;700&display=swap");

html {
  direction: rtl;
  font-family: "Vazirmatn", sans-serif;
}
